<!DOCTYPE html>
<html>
<head>
  <title>All articles</title>
</head>

<body>
  <h1>All articles</h1>
  <%= link_to "Post new article", create_article_path if admin? %>
  <table class="table">
    <% @articles.each do |article| %>
      <%= render 'shared/article_preview', article: article %>
    <% end %>
  </table>
</body>
</html>
