<h3> Account information </h3>
  username: <%= @user.username %>
  email: <%= @user.email %>

<h3> Stuff </h3>
<table data-url="data1.json" data-height="299" data-sort-name="name" data-sort-order="desc" class ="table">
  <thread>
    <tr>
      <th> Item </th>
      <th> Due </th>
      <th data-field="quantity" data-sortable="true">Quantity</th>
    </tr>
  </thread>
  <% @items.each do |array| %>
    <tr class = <%= Date.parse(array[1]).past? ? "past_due" : "not_due" %>  >
      <% array.each do |attribute| %>
        <td> <%= attribute %> </td>
      <% end %>
    </tr>
  <% end %>
</table>
