<h1> Calendar </h1>

<%= display_calendar(Date.today) %>

<h3> Upcoming Events </h3>
<% @upcoming_events.each do |event| %>
  <%= event.title %>:
  <%= pretty_event_time(event) %>
  <%= event.description %>
<% end %>
