<h1> All Borrowed Items </h1>

<table class= "table table-hover">
  <tr>
    <th> Item </th>
    <th> Borrowed By </th>
    <th> Due On </th>
    <th> Item Id </th>
  </tr>
  <% @items.each do |item| %>
    <tr>
      <td> <%= item.name %> </td>
      <td> <%= item.user.username %> </td>
      <td> <%= item.due.to_date %> </td>
      <td> <%= item.id %> </td>
    </tr>
  <% end %>
</table>
